{{- if .Values.oauth.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "redwood-calendar.fullname" . }}-oauth-proxy
  labels:
    {{- include "redwood-calendar.labels" . | nindent 4 }}
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.calendar: |
      {
        "kind": "OAuthRedirectReference",
        "apiVersion": "v1",
        "reference": {
          "kind": "Route",
          "name": "{{ include "redwood-calendar.fullname" . }}-frontend"
        }
      }
{{- end }}
